/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-slate-300;
}

h1 {
	@apply text-2xl font-bold;
}

input,
textarea {
	@apply p-1 rounded;
}

button {
	@apply m-1 py-1 px-2 rounded bg-slate-500 hover:bg-slate-700 shadow text-white;
}
